<!DOCTYPE html>
<html>

<head>
    <title><%= content_for(:title) || "Ecommerce Store" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Make sure this line is added BEFORE any javascript_include_tag -->
    <%= javascript_importmap_tags %>

    <!-- Preload application.js -->
    <link rel="preload" href="<%= asset_path('application.js') %>" as="script" crossorigin="anonymous">

    <!-- Include application.js as a module -->
    <script type="module" src="<%= asset_path('application.js') %>"></script>

    <!-- Optional: Include stylesheets (if any) -->
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>
    <%= yield %>
</body>

</html>